<h1>Apocalibuzz</h1>

<section class="state init">
  <h2>Code</h2>
  <div class="code">{{code}}</div>

  <h2>Players</h2>
  <div class="players">
    <script type="text/x-handlebars" id="template-players">
    <ul>
    \{{#each players}}
      <li class="player team-\{{team}}">\{{name}}</li>
    \{{/each}}
    </ul>
    </script>
  </div>
</section>

<section class="state game">
  <div class="hive blue">
    <h2>Blue hive</h2>
    <div class="hive-content">
      <script type="text/x-handlebars" id="template-hive">
      \{{score}} bees
      </script>
    </div>
  </div>

  <div class="hive green">
    <h2>Green hive</h2>
    <div class="hive-content"></div>
  </div>

  <div class="bee">
    <h2>Current bee</h2>
    <div class="bee-content">
      <script type="text/x-handlebars" id="template-bee">
      \{{#if name}}
        ID: \{{id}}<br>
        Name: \{{name}}<br>
        Bee or Zombee??
      \{{else}}
        Get ready!
      \{{/if}}
      </script>
    </div>
  </div>

  <div class="vote">
    <h2>Last vote</h2>
    <div class="vote-content">
      <script type="text/x-handlebars" id="template-vote">
      Team \{{team}} voted \{{vote}}<br>
      \{{#if right}}
        They were RIGHT
      \{{else}}
        Hoh no, they were WRONG
      \{{/if}}
      </script>
    </div>
  </div>
</section>

<script>
runHost('{{code}}');
</script>
