<link rel="stylesheet" type="text/css" href="/public/css/player.css">
<section class="state init">
  <button class="button-start">Everybody is ready</button>
</section>

<section class="state game">
  <div class="player">
    <script type="text/x-handlebars" id="template-player">
    <div class="player-name team-\{{team}}">\{{name}}</div>
    </script>
  </div>
  <div class="vote">
    <script type="text/x-handlebars" id="template-bee">
    \{{#if name}}
      Vote for: \{{name}}
    \{{else}}
      Get ready!
    \{{/if}}
    </script>
  </div>
  <div class="controls">
    <button class="button-bee">Bee</button>
    <button class="button-zombee">Zombee</button>
  </div>
</section>

<section class="state end">
The end.
</section>

<script>
app.player('{{id}}');
</script>
